* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  text-align: center;
  margin: 20% auto;
  padding: 20px;
  font-size: 3em;
}

h2 {
  color:coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: wheat;
  border-radius: 10px;;
  border: 2px solid rgb(148, 135, 161);
  outline: none;
  padding: 10px;
  cursor: pointer;
}